.bar{
	fill: rgb(178, 159, 255);
}
.highlight{
	fill:rgb(61, 0, 174)
}
#tooltip.hidden{
	display: none;
}
#tooltip p{
	margin: 0;
	font-family: sans-serif;
	font-size: 16px;
	line-height: 20px;
}
#tooltip{
	width: 300px;
	height: auto;
	position: absolute;
	padding: 10px;
	background-color: rgb(215, 199, 255);
	box-shadow: 4px 4px 10px rgba(0,0,0,0.4);
	-webkit-box-shadow: 4px 4px 10px rgba(0,0,0,0.4);
	-moz-box-shadow: 4px 4px 10px rgba(0,0,0,0.4);
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	pointer-events: none;
}